.my-card-media {
    background-color: aliceblue;
    width:   300px;
    height: 300px;
    margin-bottom: 10px;
}

.my-card-media img{
    height: 200px;
}

.top-informaion .title{
    float: left;
    clear: none;
    font-family: bold;
    font-size: 25px;

}

.top-informaion .price{
    font-size: 25px;
    float: right;
    clear: none;
}


.bottom-information button{
    float: right;
    clear: none;    
}  