header {
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

#icon-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width:1024px){
    #icon-header {
        margin-left: 4em;
    }
}

.mdc-top-app-bar__title {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.mdc-top-app-bar__section--align-start {
    flex-grow: 3;
}

.mdc-top-app-bar__section--align-end {
    flex-grow: 2;
}

#icon-header-title:link,#icon-header-title:visited,#icon-header-title:hover,#icon-header-title:active, .mdc-top-app-bar__action-item {
    color: whitesmoke;
    text-decoration: none;
}

.menu_item {
    margin: 0 4px;
    font-size: 15px;
}

#list_menu {
    margin-right: 30px;
}

#list_menu:hover .menu_item {
    color: gray;
}

#list_menu a:hover .menu_item {
    color:whitesmoke;
}

#nav_indicator {
    border-bottom-style: solid;
    border-width: thick;
    padding: 0 5px 20px;
    border-color:whitesmoke;
}

#under-app-bar {
    height:56px;
    /* margin-bottom: 1em; */
}
