header {
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

#icon-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width:1024px){
    .menu_item  {
        display: inherit;
    }

    .mdc-drawer{
        display: none;
    }
    
}

@media screen and (max-width:1023px){
    .menu_item {
        display: none;
    }
    .mdc-drawer{
        display: inherit;
    }
}

.mdc-top-app-bar__title {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.mdc-top-app-bar__row {
    display: flex;
    justify-content: space-between;
}

#icon-header-title:link,#icon-header-title:visited,#icon-header-title:hover,#icon-header-title:active, .mdc-top-app-bar__action-item {
    color: whitesmoke;
    text-decoration: none;
}

.menu_item {
    margin: 0 4px;
    font-size: 15px;
    width: 100px;
}

#list_menu {
    margin-right: 30px;
}

.not_selected{
    color: gray;
    margin-right: 15px;
}

.not_selected:hover{
    color: white;
}

.nav_indicator {
    border-bottom-style: solid;
    border-width: thick;
    padding: 0 0 17px;
    border-color:whitesmoke;
    color: white;
    margin-right: 15px;
}

.mdc-font{
    font-family: 'Roboto', sans-serif;
}

#under-app-bar {
    height:56px;
}
