#icon-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#icon-header-title:link,#icon-header-title:visited,#icon-header-title:hover,#icon-header-title:active{
    color: black;
    text-decoration: none;
}

