 /* button style */
button {
    font-size:1.6em;
    color: white;
    height: 1.5em;
    width: 1.5em;
    border: 0px;
    border-radius: 100%;
    background-color: red;
    box-shadow: 2px 5px 10px -1px grey;
}

button:hover {
    cursor: pointer;
    box-shadow: 2px 5px 10px -1px lightcoral;
}

button:focus {
    outline-style:none;
    color:lightgray;
}
