.detail-body{
    z-index: 3;

    width: 500px;
    max-height: 600px;
    
    height: calc(100% - 85px);
    
    margin: auto;
    margin-top: 85px ;

    /* position: relative; */
}

.detail-background{
    position: fixed;
    top: 0px   ;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgb(65, 65, 65,0.7);
}

.detail-background--hidden{
    display: none;
}

.header{
    font-size: 25px;

}

.header .card-title{
    float: left;
    clear: none;
}


.header .card-price{
    float: right;
    clear: none;
}

.card-desc p{
    text-align: justify;
}


.bottom-information{
    height: 70px;
    position: relative;
}

.bottom-information .num-input{
    float: right;
    position: absolute;
    bottom: -75/2px;
    right: 5px;
}

.bottom-information button{
    float: left;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

@media screen and (max-width:600px) {
    .detail-body{

        z-index: 3;
        background-color: bisque;
        
        width: 80%;
        height: auto;
        overflow: auto;     
        margin: auto;
        margin-top: 85px ;
    }

    .detail-body img{
        width: 100%;
        height: calc(width * 1.75);
    }

}