.my-card-media {
    width:   250px;
    height: 300px;
    margin-bottom: 10px;
    margin: 10px;
}

.my-card-media img{
    height: 80%;
}

.top-informaion .title{
    float: left;
    clear: none;
    font-size: 20px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:70%;
}

.top-informaion .price{
    font-size: 20px;
    float: right;
    clear: none;
}


.bottom-information button{
    float: right;
    clear: none;      
}  

.bottom-information > .fast-add-button{
    float: left;
    height: 25px;
    margin-left: 5px ;
    margin-top: 5px ;
}