/* icons */
.icons {
    width: 1rem;
    margin-right: 0.5rem;
}

/* navbar */
.navbar-link:not(.is-arrowless)::after {
    border-color: black !important;
}
.navbar-burger {
    margin-left:0 !important;
}

.navbar.is-fixed-top {
    top: unset !important;
    position: unset !important;
}
.navbar-start {
    margin: auto;
}

.navbar-item:not(div), .navbar-item a {
    padding-right: 2em !important;
    padding-left: 2em !important;
    margin: 0 0.5em;
}

.navbar-item a {
    padding-right: 3em !important;
}

.navbar-link:not(.is-arrowless)::after {
    right: 1.5em !important;
    margin-top: -0.5em !important;
}
